<div class="row">
    <div class="col-12 text-end">
        <button class="btn btn-primary" (click)="addNew()">
            Add New
        </button>
        <button class="btn btn-primary" (click)="bulkUpdateAirport()">
            Bulk Update
        </button>
    </div>
</div>

<div>
    <div class="col-12">
        <table class="table table-bordered table-striped">
            <caption>List of Airports</caption>
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Airport Code</th>
                    <th>Airport Name</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="
                    let airport of airportList
                    let sr = index
                    ">
                    <td>
                        {{sr + 1}}
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="airport.airportCode" placeholder="Enter Airport Code" />
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="airport.airportName" placeholder="Enter Airport Name" />
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="airport.cityName" placeholder="Enter City Name" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>